

/* Блок марок */
.b-logos {
	overflow:hidden; position:relative;
	padding:10px; padding-top:0; margin-top:30px}
.b-logos::before {
	position:absolute; content:""; background:#d52b27}
.b-logos div, .b-logos ul {
	position:relative}
.b-logos__list {
	overflow:hidden; display:block}
.b-logos__list li {
	overflow:hidden; padding-right:5px; padding-left:5px; padding-bottom:10px; float:left; width:16.66666666666667%}
.b-logos__list li a {
	position:relative; display:block; padding-left:38px; transition:background 0.4s, color 0.4s;
	color:#000; border-radius:6px; line-height:38px; background:#f2f2f2}
.b-logos__list li a img {
	position:absolute; left:10px; top:9px}
.b-logos__list li a:hover {
	background:#d52b27; color:#fff}
.b-logos__list li a:hover span {
	background:#2a2a2a; color:#fff; transition:background 0.4s, color 0.4s}
.b-logos__list li a span {
	border-radius:6px; background:#ddd; text-align:center;
	width:28px; height:28px; line-height:28px;
	position:absolute; font-weight:bold; right:5px; top:5px}
.car-credit {
	}



/* Фильтр */
.filter-cars {
	margin-top:30px; padding:0 15px 20px}
.inp_, .sub_ {
	border:1px solid #ddd; background:#f3f3f3; transition:border 0.4s;
	display:block; width:100%; height:40px; color:#2a2a2a;
	margin-bottom:10px; padding-left:10px; border-radius:6px}
.inp_:focus, .inp_:active {
	border-color:#000; outline:none}
.inp_::placeholder {
	color:#2a2a2a}
.filter-cars .sub_ {
	transition:background 0.4s; padding:0; background:#d52b27; font-weight:bold;
	cursor:pointer; border-color:#d52b27; color:#fff}
.filter-cars .sub_:hover {
	background:#2a2a2a; border-color:#2a2a2a}


/* Каталог */
.car {
	overflow:hidden; margin-bottom:30px; font-size:14px}
.car img {
	max-width:100%}
.car a {color:#2a2a2a}
.car-title {
	padding:10px; text-align:center; font-size:18px; font-weight:bold}
.car-detalis {
	overflow:hidden}
.car-price__new {
	text-align:center; color:#d52b27; font-weight:bold}
.car-price__new, .car-price__old {
	display:inline; line-height:24px; font-size:18px; }
.car-price {
	text-align:center}
.car-price__old {
	padding-left:15px}
.car-detalis ul {
	display:block}
.car-detalis ul li {
	border-left:1px solid #ddd; line-height:30px;
	display:block; float:left; width:25%; text-align:center}
.car-detalis ul li:first-child {border-left:0}
.car-bron, .car-credit {
	color:#fff; background:#d52b27; text-align:center; line-height:1;
	padding:12px 0; border-radius:6px; font-weight:bold; font-size:14px; transition:background 0.4s, color 0.4s}
.car-bron {
	background:#ccc; color:#2a2a2a}
.car-bron:hover {
	background:#d52b27; color:#fff}
.car-credit:hover {
	background:#2a2a2a}
.car-price {
	overflow:hidden; margin:0 15px 10px}
.car-detalis {
	padding:0 0}


.b-logos__more {
	display:none}
.catalog-car__list {
	margin-left:-30px}
.catalog-car__list > li {
	float:left; padding-left:30px; width:33.33333333333333%}
.b-logos__catalog {
	margin-top:0}
.b-logos__catalog .b-logos__list {
	margin:0 -15px}
.b-logos__catalog .b-logos__list li a {
	border-width:1px; border-style:solid;
	border-color:#f5f5f5 #eee #ddd #eee; border-bottom:0;
	box-shadow:0px 1px 0px #ddd;
	background:#fff}
.b-logos__catalog .b-logos__list li a:hover {
	background:#d52b27}
.car-garanty, .car-credit__month, .car-detalis ul li.car-detalis__more {
	display:none}
.catalog-car__list .car-detalis span {
	display:none}
.w50 {
	width:50%; padding:15px; float:left}
.w50.first {
	padding-right:7.5px}
.w50.sec {
	padding-left:7.5px}

.pagination-main {
	overflow:hidden; width:100%; margin-bottom:30px}

.pagination-main li, .nav-pills_current_Mark li {
	float:left; margin-right:10px}
.nav-pills_current_Mark li a, .pagination-main li a {
	background:#2a2a2a; color:#fff; display:block; text-align:center;
	padding:4px 11px; transition:background 0.3s, color 0.3s}
.nav-pills_current_Mark li a:hover,
.nav-pills_current_Mark li a.active,
.pagination-main li a:hover {
	background:#d52b27}
.nav-pills_current_Mark {
	margin:0 0 20px}
.last-cars__catalog {
	margin-top:10px}
.last-cars__catalog .filter-cars {
	background:#2a2a2a; padding-bottom:10px; margin-top:0}
.last-cars__catalog .page-title span {
	color:#fff; padding:15px; font-size:18px; background:#2a2a2a}
.catalog-des {
	padding:15px; margin-bottom:25px; overflow:hidden}
.catalog-des__title {
	float:left; font-size:18px; line-height:29px; font-weight:bold}
.sort-select, .sort-catalog {
	float:right}
.sort-select select {
	border:0; height:29px; padding-left:10px; color:#fff;
	font-size:14px; background:#2a2a2a}
.sort-car__s1, .sort-car__s2 {
	transition:background 0.3s, border 0.3s;
	height:29px; width:29px; cursor:pointer; border:1px solid #2a2a2a; margin-left:10px; float:left}
.sort-car__s1 {
	background:url(../images/sort.png) bottom left no-repeat}
.sort-car__s2 {
	background:url(../images/sort.png) bottom right no-repeat}
.sort-car__s1:hover {
	border-color:#d52b27; background:url(../images/sort.png) top left no-repeat}
.sort-car__s2:hover {
	border-color:#d52b27; background:url(../images/sort.png) top right no-repeat}
.sort-car__s1.active {
	border-color:#d52b27; background:url(../images/sort.png) top left no-repeat}
.sort-car__s2.active {
	border-color:#d52b27; background:url(../images/sort.png) top right no-repeat}
.sort-car__s1.active:hover, .sort-car__s1.active:hover {
	border-color:#2a2a2a}
.catalog-car__list.active > li {
	float:none; width:100%}
.catalog-car__list.active .car-photo {
	width:300px; float:left}
.catalog-car__list.active .car-des {
	overflow:hidden; }
.catalog-car__list.active .car-des1,
.catalog-car__list.active .car-des2 {
	float:left; width:50%; padding:12px 20px 0}
.catalog-car__list.active .car-title,
.catalog-car__list.active .car-price {
	padding:0; margin:0; text-align:left}
.catalog-car__list.active .car-detalis ul li.car-detalis__more {
	display:block; }
.catalog-car__list.active .car-detalis__more-sec {
	display:none}
.catalog-car__list.active .car-detalis ul li {
	width:100%; float:none; border-left:0; padding:1px 0 0; border-bottom:1px dashed #ddd; text-align:left;}
.catalog-car__list.active .car-detalis ul li:last-child {border-bottom:0}
.catalog-car__list.active .car-detalis span {
	float: left; display:block; width:50%;}
.catalog-car__list .car {
	transition:0.3s;}
.catalog-car__list.active .car {
	position:relative}
.catalog-car__list.active .car::before {
	content:""; display:block;
	position:absolute; top:0; bottom:0; width:1px; background:#ddd; right:36%}
.catalog-car__list.active .w50.first,
.catalog-car__list.active .w50.sec,
.catalog-car__list.active .w50 {
	padding:0; width:100%; float:none}
.catalog-car__list.active .car-garanty {
	display:block; }
.catalog-car__list.active .car-garanty__title {
	font-size:18px; font-weight:bold}
.catalog-car__list.active .car-bron, .catalog-car__list.active .car-credit {
	padding:15px 0; font-size:16px; margin-top:15px; font-weight:bold}

.car-photo__inner img {
	display:none}
.car-photo__inner img:first-child {
	display:inline}



.filter__open-mob, .b-logos__close, .b-logos__more {
	display:none}







@media only screen and (max-width:991px) and (min-width:200px) {
    .b-logos {
        padding:0; box-shadow:none; margin-top:10px; border:0; background:none; margin-top:10px}
    .b-logos .page-title span {
        background:#f5f5f5}
    .b-logos__list li {
        width:50%}
    .b-logos__list li a {
        line-height:32px; font-size:14px; background:#fff; border-bottom:1px solid #d0d0d0}
    .b-logos__list li a img {
        left:6px; top:6px}
    .b-logos__list li a span {
        height:24px; line-height:24px; right:0; top:4px; width:24px}
	.b-logos .b-logos__list {
		overflow:hidden; height:129px; margin:0 -5px}
    .b-logos__more {
		display:block; background:#d52b27; text-align:center; width:50%;
		margin:0 auto; border-radius:6px; line-height:1;
		padding:5px; color:#fff; font-weight:bold}
	.b-logos__more:hover {background:#2a2a2a}
	.b-logos.active .b-logos__close {
		position: absolute; width:30px; height:30px; color:#fff; right:0; top:0; background:#d52b27; z-index:9999;
		font-size:18px; font-weight:bold; text-align:center; line-height:28px; display: block; border-radius:0 0 0 6px;}
    .b-logos.active {
		position:fixed; z-index:999; background:#2a2a2a;
		top:0; left:0; bottom:0; padding:0 10px 10px; margin:0}
	.b-logos.active .b-logos__more {
		display:none}
	.b-logos.active .page-title {
		background:none}
	.b-logos.active .page-title span {
		background:#2a2a2a; margin:0 5px 0; color:#fff}
	.b-logos.active .b-logos__list {
		height:100%; overflow-y:initial; overflow-x:scroll; padding-bottom:35px}
	
	.car-title, .car-price__new, .car-price__old {font-size:16px}
	.car-photo {
		height:150px; position:relative; overflow:hidden}
	.car-photo__inner {
		position:absolute; left:0; height:150px;
		overflow-y:hidden; overflow-x:scroll; white-space:nowrap; width:100%}
	.car-photo__inner img {
		display:inline; height:150px}
	.inp_, .sub_ {
		height:35px; padding-left:6px; font-size:13px}

	.car-bron, .car-credit {
		font-size:13px}
    .sort-catalog {
		display:none}
	.catalog-des {
		background:none; border:none; box-shadow:none; padding:0}
	.catalog-des__title {
		float:none; line-height:1.2; font-size:16px; text-align:center; margin-top:12px}
	.sort-select {
		margin:0 auto; float:none}
	.sort-select select {
		margin:10px auto 0; display:block}
	.nav-pills_current_Mark li a, .pagination-main li a {font-size:13px; padding:2px 5px}
	.pagination-main li, .nav-pills_current_Mark li {margin-bottom:10px}
	.catalog-des {margin-bottom:15px}
	.nav-pills_current_Mark {margin:0 0 5px}
	.catalog-car__list > li {
		width:100%; padding-left:0; width:100%; }
	.catalog-car__list {
		margin-left:0}
	.inp__mob {
		display:none}
	.filter-cars.active	.inp__mob {
		display:block}
	.filter-cars__main {
		background:#2a2a2a; padding:0 0 5px; margin:10px -15px 0}
	.filter-cars__main .page-title span {
		background:#2a2a2a; color:#fff}
	.filter-cars__main .col {
		flex-basis:auto}
	
	
	
	
	
	
	
	.last-cars__catalog .filter-cars {
		margin:5px -15px; overflow:hidden}
	.filter__btn-search, .filter__open-mob {
		width:50%; float:left; display:block}
	.filter__open-mob {
		text-align:center; color:#fff; line-height:31px}
	.filter__open-mob span {
		border-bottom:1px dashed}

    .car {
        margin-bottom:20px}
    
}

    








