.cre-form {
    padding:0 15px 10px}
.cre-form .page-title span {
    font-size:18px; background:#fff; text-transform:none}
.inp_, .sub_ {
    border:1px solid #ddd; background:#f3f3f3; transition:border 0.4s;
    display:block; width:100%; color:#2a2a2a;
    margin-bottom:10px; padding-left:10px; border-radius:6px}
.inp_, .sub_ {
    height:50px}
.inp_:focus, .inp_:active {
    border-color:#000; outline:none}
.inp_::placeholder {
    color:#2a2a2a}
.sub_ {
    transition:background 0.4s; padding:0; background:#d52b27; font-weight:bold;
    cursor:pointer; border-color:#d52b27; color:#fff}
.sub_:hover {
    background:#2a2a2a; border-color:#2a2a2a}

.cre-title {
    color:#2a2a2a; font-weight:bold; font-size:16px}
.credit__text {
    padding:0 15px; margin-bottom:30px}

.car-title {
    padding:10px; text-align:center; font-size:18px; font-weight:bold}
.car-price__new {
    text-align:center; color:#d52b27; font-weight:bold}
.car-price__new, .car-price__old {
    display:inline; line-height:24px; font-size:18px; }
.car-price {
    text-align:center}
.car-price__old {
    padding-left:15px}
.cre-car {
    overflow:hidden; margin-bottom:30px}
.car-des {
    overflow:hidden; padding:10px 15px 0}
.car-photo {
    width:350px; float:left}
.car-photo img {
    max-width:100%}
.cre-car .car-price, .cre-car .car-title {
    text-align:left}
.cre-car .car-price {
    margin:0}
.cre-car .car-title {
    padding:0}
.car-detalis__credit ul li {
    width:100%; line-height:38px; font-size:14px; font-weight:bold; border-bottom:1px dashed #ddd}
.car-detalis__credit ul li span {
    width:50%; float:left; display:block; font-weight:normal}
.car-detalis__credit ul li:last-child {
    border-bottom:0}
.range-info, .month-pay {
    color:#2a2a2a}


.range-creditTime {font-weight:bold}
.payment-block {display:none}
.cre-form .question span {
    background:#d52b27; color:white; border-radius:50%;
    padding:0px 5px; cursor:pointer; margin:0 10px 0 0}
.cre-form .question .open {
    display:none; position:absolute; width:-webkit-fill-available;
    left:0; right:0; background:#000000bd;
    padding:10px 10px; border-radius:7px; top:24px;
    transition:0.3s all; color:#fff; z-index:999}
.cre-form .question .open {
    display:none}
.cre-form .question .question_inner:hover .open {
    display:block; transition:0.3s all}


.cre-info__list {
    margin-left:-30px}
.cre-info__list li {
    padding-left:30px; width:20%; float:left; text-align:center}
.cre-info__item-inner {
    font-size:14px; line-height:1.3; padding:15px}
.cre-info__item-inner img {
    margin-bottom:10px}


/* Банки партнеры */
.banks {
	margin-bottom:10px}
.banks_list {
	margin:0 -12px}
.banks_list li {
	float:left; padding:0 10px 20px; width:12.5%}
.banks_list li .shadow-box {
	padding:10px}
.banks_list li .shadow-box img {
	max-width:100%}








@media only screen and (max-width:991px) and (min-width:200px) {
    .cre-info__list {margin-left:-15px}
    .cre-info__list li {padding-left:15px; padding-bottom:15px; width:50%}
    .cre-info__list li:last-child {
        width:100%; padding-bottom:0}
    .banks_list {
        margin:0 -7.5px}
    .banks_list li {
        width:33.33333333333333%; padding:0 7.5px 15px}
    .cre-form .page-title span, .car-title, .car-price__new, .car-price__old {
        font-size:15px}
    .inp_, .sub_ {
        font-size:14px; height:40px}
    .cre-car {
        margin:30px 0}
    .banks {
        margin-top:10px}
    .car-photo, .car-photo img {
        width:100%}
    .car-detalis__credit ul li {
        line-height:32px}
    .car-detalis__credit ul li:last-child {
        padding-bottom:4px}
}




