.slider__main {
	width:100%; overflow:hidden; margin-top:30px}

/* Популярные модели */
.featured {
	background:#2a2a2a; margin:30px 0}
.featured .page-title.sec span {
	color:#fff; background:#2a2a2a}
.featured-car {
	text-align:center; padding:20px 0 10px; margin-bottom:30px;
	transition:border 0.3s, color 0.3s, background 0.3s;
	background:#444; color:#fff; overflow:hidden; cursor:pointer;
	border:1px solid #555; border-bottom-width:5px; position:relative}
.featured-car:hover {
	background:#f5f5f5; border-color:#ccc; color:#2a2a2a}
.featured-car__title {
	padding:10px; font-size:16px; text-transform:uppercase}
.featured-car__img {
	height:137px}
.car-black, .car-white {
	transition:opacity 0.8s; position:absolute; top:20px; left:0; right:0}
.car-black, .featured-car:hover .car-white {
	opacity:0}
.car-white, .featured-car:hover .car-black {
    opacity:1}





/* Банки партнеры */
.banks {
	margin-bottom:10px}
.banks_list {
	margin:0 -12px}
.banks_list li {
	float:left; padding:0 10px 20px; width:12.5%}
.banks_list li .shadow-box {
	padding:10px}
.banks_list li .shadow-box img {
	max-width:100%}


/* Наши достижения */
.about-us__item {
	padding:20px 0; text-align:center; }
.about-us__title {
	font-size:30px; font-weight:bold}
.about-us__des {
    line-height:1.4; font-size:18px}


.more-cars {
    border:1px solid #2a2a2a; text-align:center; border-radius:6px; transition:background 0.4s, color 0.4s, border 0.4s;
    display:block; line-height:45px; color:#2a2a2a; font-size:18px; }
.more-cars:hover {
    background:#d52b27; border-color:#d52b27; color:#fff}


@media only screen and (max-width:991px) and (min-width:200px) {

    
    
    
    
    
    
    
    .slick-slider {margin:0 -15px}
    .slider__main {
        width:auto; margin:0}
    .present__inner {
        margin-bottom:20px}
    .featured-car {
        margin-bottom:15px}
    .featured {
        margin:20px 0 15px}

    .more-cars {
        margin-bottom:10px}
    .more-cars {
        line-height:40px; font-size:16px}
    .about-us__des {
        line-height:1.2; font-size:15px}
    .about-us__title {
        font-size:24px}
    .about-us__item {
        padding:0 0 20px; margin-bottom:20px}
    .banks_list {
        margin:0 -7.5px}
    .banks_list li {
        width:33.33333333333333%; padding:0 7.5px 15px}
}












































