html,body {height:100%}
.wrapper {min-height:100%}
* html .wrapper {height:100%}
a {color:#004a90}
a:hover {text-decoration:none}
ul {margin:0; padding:0; list-style-type:none}
h1, h2, h3, h4, h5 {line-height:1.1}
input:focus, textarea:focus, buttom:focus {outline:none}

body {
	background:#f5f5f5}

.container {
	max-width:1480px}


/* Шапка сайта */
.logo {
	margin:20px 0; float:left}
.top-phone {
	float:right; margin-top:24px; padding-left:52px;
	background:url(../images/phone.png) center left no-repeat}
.top-phone__1 {
	float:left; margin-right:50px}
.top-phone__1.sec {
	margin-right:0}
.top-phone__1 a {
	font-size:18px; color:#000}
.top-phone__des {
	font-size:13px; line-height:16px; padding:2px 0; color:#777}
.top-order__call, .top-address__tonw {
	font-size:13px; border-bottom:1px dashed; padding-top:2px; line-height:16px;
	display:table; margin-bottom:3px; cursor:pointer; transition:color 0.4s; color:#d52b27}
.top-order__call:hover, .top-address__tonw {
	color:#000}
.top-address {
	float:right; margin-top:24px; margin-left:100px}


.page-title {
	background:linear-gradient(to right,transparent 0%,red 30%,#d52b27 50%,red 70%,transparent 100%);
    background-size:100% 2px; background-repeat:no-repeat; background-position:center}
.page-title span {
	display:table; margin:0 auto; background:#fff; padding:20px 15px;
    text-transform:uppercase; font-size:20px; font-weight:bold}
.page-title.sec span {
	background:#f5f5f5}


/* Общие стили */
.shadow-box {
	box-shadow:0 5px 0 rgba(200,200,200,.2);
	border-width:1px; border-style:solid; border-color:#f5f5f5 #eee #ddd #eee;
	background:#fff; margin-bottom:5px}
.br {
	display:table}


/* Блок подарков */
.car-present {
	padding:15px; border:0; border-bottom:1px solid #ddd;
    -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between;
	display:-webkit-box; display:-ms-flexbox; display:flex; width:100%}
.present img {
	max-width:100%}
.car-present a {
	height:100%; text-decoration:none; color:inherit}
.car-present__item {
	display:-webkit-box; display:-ms-flexbox; display:flex; height:100%;
    -webkit-box-align:center; -ms-flex-align:center; align-items:center}
.car-present__img {
	height:64px; width:64px; -o-object-fit:contain; object-fit:contain;
    margin-right:16px; padding:8px; border-radius:50%; background-color:#d52b27}
.car-present__img img {
	max-width:100%}
.car-present__text {
	font-size:14px; line-height:1.5}
.car-present__text span {
	background-color:#ddd; padding:4px; border-radius:4px; font-weight:700}




























@media only screen and (max-width:5000px) and (min-width:1024px) {
	.c-menu {
		overflow:hidden; background-color:#2a2a2a}
	.c-menu li {
		float:left; border-left:1px solid rgba(255, 255, 255, 0.102);}
	.c-menu li:first-child {
		border:0}
	.c-menu li a::after, .c-menu li a::before, .c-menu li a {
		transition:background 0.4s, color 0.4s; text-transform:uppercase; text-shadow:0 1px 0 #555;
		font-size:16px; display:block; position:relative; padding:14px 20px}
	.c-menu li a::after, .c-menu li a::before {
		left:0; right:0; height:100%; text-align:center; transition:top 0.4s;
		content:attr(data-content); position:absolute}
	.c-menu li a::after {
		top:0; background:#2a2a2a}
	.c-menu li a::before {
		top:100%; background:#d52b27}
	.c-menu li a:hover::after {
		top:-100%}
	.c-menu li a:hover::before {
		top:0}
	.c-menu li a:hover {
		text-decoration:none}
}






.sub_1 {
	-webkit-transition:0.3s ease-in-out; -moz-transition:0.3s ease-in-out;
	-o-transition:0.3s ease-in-out; -ms-transition:0.3s ease-in-out;
	transition:0.3s ease-in-out}





.navbar {
	padding:0}

.navbar a {
	color:#fff !important}


.footer {
	overflow:hidden; background:#2a2a2a;
	margin-top:-327px; height:327px; font-size:14px; color:#b2b2b2}
.hFooter {
	height:327px}
.footer-top {
	margin:30px 0; overflow:hidden}
.footer__title {
	color:#fff; font-size:18px}
.footer-nav__list li a {
	color:#b2b2b2; display:block; font-size:14px; line-height:17px; margin-top:10px;
	background:url(../images/arrow.png) left center no-repeat; transition:margin 0.3s; padding-left:16px}
.footer-nav__list li a:hover {
	margin-left:10px}
.footer_text {
	border-top:1px solid #4a4a4a; padding:20px 0; line-height:1.3}
.footer__title-sec {
	margin-top:10px}
.footer__des {
	margin-bottom:10px}
.footer__des a {
	color:#b2b2b2}

@media only screen and (max-width:1023px) and (min-width:200px) {
	.hFooter, .footer {height:auto; margin-top:0}
	.navbar {display:block}

	/* Общие стили */
	.car-present, .top-address, .top-phone {
		display:none}
	.header {
		background:#fff; padding-bottom:15px; border-bottom:1px solid #eee}
	.logo {
		margin:0}
	.page-title {
		margin:0 -15px}
	.page-title span {
		font-size:15px; padding:10px; text-transform:none}
	.banks_list li {
		width:50%}
	.cre-title {
		font-size:15px}
	.range-info, .month-pay {
		font-size:14px}
	.inp_, .sub_ {
		height:40px}
	
	
	
	
	
	
	.footer-nav__list, .footer__des.last {
		margin-bottom:20px; padding-bottom:15px; border-bottom:1px solid #4a4a4a}
	
	.footer__title {
		font-size:16px}
	.footer-top {
		margin:30px 0 0}
	.footer_text {
		font-size:12px; border:0; margin-top:-10px; padding:0 0 15px}
	
	
	
	
	
	
	
}

@media only screen and (max-width:1199px) and (min-width:992px) {
	
}

@media only screen and (max-width:991px) and (min-width:200px) {
	.navbar-expand-lg .navbar-toggler {
		float:right; display:table; margin-top:-48.5px}
	.c-menu li {
		float:none; display:block}
	.c-menu li a {
		line-height:35px; padding:0; border-bottom:1px dotted #001c3e}
	.c-menu li a:hover {
		padding-left:15px; background:none; border-bottom:1px dotted #fdfdfd}
	.navbar li:last-child a {
		padding-left:15px}
	.logo img {
		height:40px; margin-top:15px}
	.navbar-expand-lg .navbar-toggler {
		background:#2a2a2a; margin-top:-40px}
	.navbar {position:inherit}
	.navbar-collapse {
		background:#000; z-index:999; height:100vh;
		position:absolute; left:0; right:0; top:15px; width:100%}
	.container-mob {
		position:relative}
	.c-menu li a {
		border-bottom:1px dotted #333; display:block;
		text-shadow:none; color:#fff!important; box-shadow:none;
		text-transform:none; margin:0; padding-left:15px; float:none}
	.c-menu li {
		margin:0}
}

@media only screen and (max-width:599px) and (min-width:200px) {

}

@media only screen and (max-width:760px) and (min-width:200px) {
	
}

@media only screen and (max-width:599px) and (min-width:200px) {
	
}












































